{% extends "layout.html" %}

{% block content %}
<section>
    <script src="https://cdn.jsdelivr.net/npm/konva@8.2.2/konva.min.js"></script>
    <h1>Dessiner et prédire</h1>
    
    <div id="drawingContainer"></div>
    <br>
    <button onclick="clearCanvas()">Effacer</button>
    <button onclick="predictDigit()">Prediction</button>
    <h2>Prediction: {{ number }} <span id="prediction"></span></h2>

    <script>
        var stage = new Konva.Stage({
            container: 'drawingContainer',
            width: 200,
            height: 200,
        });

        var layer = new Konva.Layer();
        stage.add(layer);

        var isPaint = false;
        var lastLine;

        stage.on('mousedown touchstart', function (e) {
            isPaint = true;
            var pos = stage.getPointerPosition();
            lastLine = new Konva.Line({
                stroke: 'black',
                strokeWidth: 5,
                globalCompositeOperation: 'source-over',
                points: [pos.x, pos.y],
            });
            layer.add(lastLine);
        });

        stage.on('mouseup touchend', function () {
            isPaint = false;
            layer.batchDraw();
        });

        stage.on('mousemove touchmove', function () {
            if (!isPaint) {
                return;
            }
            var pos = stage.getPointerPosition();
            var newPoints = lastLine.points().concat([pos.x, pos.y]);
            lastLine.points(newPoints);
            layer.batchDraw();
        });

        function clearCanvas() {
            layer.destroyChildren();
            layer.batchDraw();
            document.getElementById('prediction').textContent = '';
        }

        function predictDigit() {
            var imageURL = stage.toDataURL();

            // Envoyez l'URL de l'image au serveur pour la prédiction
            fetch('/draw', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: 'image=' + encodeURIComponent(imageURL),
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('prediction').textContent = data.prediction;
            })
            .catch(error => console.error('Error:', error));
        }

        function createFormData(data) {
            var formData = new FormData();

            // Utilisez le bon nom de champ pour le fichier (dans ce cas, 'file')
            formData.append('file', data.image);

            return formData;
        }

    </script>
</section>
{% endblock %}
