{% extends "layout.html" %}

{% block content %}
<section>
    <h1>Liste des inscrits</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Sexe</th>
                <th>Pseudo</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.sexe }}</td>
                    <td>{{ user.pseudo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}